<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Mp3Sort>
    <Original  value="" CompleteInitialize="true"/>
    <CopyTo    value="" CompleteInitialize="true"/>
    <Extension value="" CompleteInitialize="true"/>
    <OverWrite value="true" CompleteInitialize="true"/>
  </Mp3Sort>
</configuration>
